.btn {
  display: flex;
  align-items: center;
}
.btn:hover {
  background-color: #e2e2fc !important;
  color: var(--color-primary) !important;
  border-radius: 1rem;
  cursor: pointer;
}

.start-icon {
  margin-right: 0.8rem;
  margin-left: 1.2rem;
  width: 2rem;
}

.btn-txt {
  margin-right: 2rem;
}
