.game-container {
    padding: 2.5rem;
}
.game-container h3 {
    margin-bottom: 3rem;
    font-size: 5rem;
    font-weight: 600;
    color: var(--color-primary);
}

.hand {
    display: flex;
    justify-content: space-around;
} 

.card:hover {
    cursor: pointer;
}

.board {
    height: 40vh;
    display: flex;
}
.cards-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 50%;
}
.game-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.turn-display {
 font-size: 4rem;
 font-weight: 800;
}

.live-msg {
    font-size: 2rem;
    color: green;
}
.user-card {
    text-align: center;
    
} 
.username{
    font-size: 2rem;
   ;
}
